.App {
  text-align: center;
}


body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.modal-container {
  position: fixed;

  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.modal-content {
  height: 1000px;
}
